# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
proj_win/Debug/
proj_win/RCb02324
proj_win/RCa02324
proj_win/ipch/
proj_win/Coin.sdf
proj_win/Coin.opensdf
proj_win/Coin.v12.suo
ExchangeAPI/proj_win/Debug/
proj_win/config.ini
proj_win/Release/
ExchangeAPI/proj_win/Release/ExchangeAPI.tlog/cl.command.1.tlog
ExchangeAPI/proj_win/Release/ExchangeAPI.tlog/
ExchangeAPI/proj_win/Release/
